<div class="container">
    <div class="row">

        <div class="col-xs-12">

            <h3>App Component!</h3>
            <!-- <app-servers></app-servers>  -->
            <!-- <app-server></app-server>
            <app-servers></app-servers> -->
            <!-- <div app-servers></div> -->
            <!-- <div class = "app-servers"></div> -->
            <app-warning-alert></app-warning-alert>
            <app-success-alert></app-success-alert>
            <!-- <app-assignment2></app-assignment2> -->
            <app-assignment3></app-assignment3>
        </div>
    </div>
</div>
