
<button (click)="onDisplayDetails()" class="btn btn-primary">Display Details</button>
<p *ngIf="displayDetails">Random text : {{randomStr}}</p>
<div 
    *ngFor="let random of log; let i = index"
    [ngStyle]="{backgroundColor: i >= 4 ? 'blue' : 'transparent'}"
    [ngClass]="{'white-text': i >= 4}"
    >{{ random }}</div>