
<input
    type="text"
    class="form-control"
    [(ngModel)] = "username">
<p>{{username}}</p>
<button 
    class="btn btn-secondary"
    [disabled]="username === ''"
    (click)="onUpdateUsername()">Update user</button>